.programme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .btn-container {
        padding-right: $huge-margin;
        display: inline-block;
        max-width: 20%;
        box-sizing: border-box;
    }

    a {
        
        width: 75%;
        text-decoration: none;
        display: inline-block;
       
    }

    h3 {
        color: $off-black;
        font-weight: 100;
        margin: $tiny-margin 0;
    }

    .programme-info {
        color: $off-black;
        margin: 0 0 $huge-margin;
        padding: 0;  
        border-spacing: 0;
        border-collapse: collapse;

        .subtitles {
            font-weight: 700;
        }

        

        tbody {
            background-color: $beige;

            td {
                color: lighten($off-black, 30%);
                font-size: 0.8em;
                line-height: 1.5em;
                padding: $tiny-margin 0;

                &:first-child {
                    padding-left: $tiny-margin;
                }
            }
        }

        td {
            width: 200px;
            padding-right: $huge-margin;
        }

    }
}

.selected-programmes {
    background-color: $beige;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: $huge-margin;

    .selected-programme {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: $tiny-margin;
        align-items: center;

        span {
            display: inline-block;
            color: lighten($dark-beige, 10%);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}
