.header {
    display: flex;
    justify-content: space-between;
    background-image: url('../images/kotahitaka.png');
    background-repeat: no-repeat;
    height: 174px;
    background-size: cover;
    padding: 10px;
    background-position: left -50px top 70px;
    background-size: auto 104px;
    image-rendering: optimize-quality;         /* Firefox */


    .navigation {
        margin: $tiny-margin auto 64px;
        width: 90%;
        max-width: 1060px; 
        //margin: $tiny-margin 0 0 $huge-margin;
        
        ul {
            margin: 0;
            padding: 0;

            li {
                padding-right: $tiny-margin;
                display: inline-block;
                list-style-type: none;
            }
        }
    }

    .logo {
        width: 140px;
        position: absolute;
        right: $huge-margin;
        top: $huge-margin;
        height: auto;
        overflow: visible;
    }

}

