<!DOCTYPE html>
<html lang="en" manifest="<%= htmlWebpackPlugin.options.manifest %>my-manifest.appcache">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
    <div id="app"></div>
   
</body>
</html>
